/*******************************TAGS SELECTORS*******************************/
body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;


}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}



hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a:hover{
  color: #EAF6F6;
}

p{
    line-height: 2;
}

/*******************************CLASS SELECTORS*******************************/
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0 ;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 30px;
  margin: 100px auto 0 auto;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 400px;
}

.yeimg {
  border-radius: 100%;
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.computer-img {
  width: 25%;
  height: 25%;
  border-radius: 100%;
  float: left;
  padding-right: 30px;
}

.curls-img {
  width: 25%;
  border-radius: 100%;
  float: right;
  padding-left: 30px;
}

.profile {

}

.intro {
  width: 30%;
  margin: auto;

}

.footer-link{
  color: #11999E;
  margin-right: 40px;
  text-decoration: none;
}
.footer-text{
  color: #EAF6F6;
  margin: 30px auto 30px auto;
  font-size: 0.75rem;
}
.btn{
  background-color: #66BFBF;
  margin: 30px auto 50px auto;
  padding: 15px 32px;
  text-decoration: none;
  color: #EAF6F6;
  border-radius: 8px;
  display: inline-block;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;

}
